.horizontal-pad
{ 
  x: 5%; 
  width: 100%-10%; 
}

.sensor-label 
{
  font-family: System-Regular;
  fill: white;
  text-anchor: middle; 
  display-align: center;
  font-size: 20;
  x: 49%;
  y: 56%;
}

.sensor-data 
{
  font-family: System-Light;
  fill: white;
  display-align: center;
  font-size: 55;
  font-weight: bold;
  x: 40%;
  y: 50%;
}

.stripe 
{
  fill: #6c2245; 
  width: 100%;
  height: 1%;
}

#bottombar
{
  y: 75%;
}

#topbar
{
  y: 25%;
}


.heart-icon
{
  href: "icon.png";
  width: 30%;
  height: 30%;
  y: 37%;
  x: 5%;
}

.application-fill           { fill: fb-yellow; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#myButton #text {
  text-buffer: "BUTTON";
}